@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@500&display=swap');

*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	image-rendering: pixelated;
	user-select: none;
}
body, html{
	width: 100%;
	height: 100%;
}
body{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 20px;
}
#game{
	overflow: hidden;
}
#sky{
	display: flex;
}
	#sky img{
		position: relative;
		z-index: 1;
		object-fit: cover;
	}
#road{
	position: relative;
	overflow: hidden;
	z-index: 2;
	clip-path: polygon(48% 0%, 52% 0%, 110% 100%, -10% 100%);
}
#line{
	position: relative;
	z-index: 3;
}
	#lines-road-r{
		position: relative;
		z-index: 3;
		clip-path: polygon(48% 0%, 48.2% 0%, -5% 100%, -10% 100%);
	}
	#lines-road-l{
		position: relative;
		z-index: 3;
		clip-path: polygon(52% 0%, 52.2% 0%, 110% 100%, 105% 100%);
	}
#place{
	position: relative;
	z-index: 1;
}
#car{
	position: relative;
	z-index: 5;
	overflow: visible !important;
}
#counter{
	position: relative;
	z-index: 20;
	display: flex;
	align-items: center;
	justify-content: center;
	background: rgba(0,0,0,0.1);
}
	#counter p{
		font-family: 'Noto Sans', sans-serif;
		font-size: 50px;
		color: rgb(0,255,0);
	}
#play{
	position: relative;
	z-index: 20;
	display: flex;
	align-items: center;
	justify-content: center;
	background: rgba(0,0,0,0.5);	
}
	#play svg{
		border: #fff solid; 
		border-radius: 50%;	
	}
#closeA{
	outline: none;
	padding: 15px;
	background: rgb(0,200,0);
	border:  none;
	border-radius: 5px;
	color: #fff;
	font-size: 20px;
	font-family: 'Noto Sans', sans-serif;
	text-transform: uppercase;
}
	#closeA:hover{
		background: rgb(0,255,0);
	}
.coded{
	align-self: center;
	font-size: 20px;
	font-family: 'Noto Sans', sans-serif;
}

